

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#mainpageimg {
  width: 50%;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.titlebox{
  margin-top: 13%;
}

#mainpagetitle {
  font-family: 'Overpass Mono', monospace;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.mainpageButton {
  width: 200px;
  height: 60px;
  background-color: #5dc4c6;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100px;
  font-size: 15px;
  font-family: 'Overpass Mono', monospace;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#liquorPageButton {
  margin-top: 50px;
  margin-left: 20%;
}

#bg {
    background-image: url('worldwbg@3x.png');
    /* Full height */
    height: 80%;

    position: relative;

    margin-top: 7%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#bg img {
  opacity: 0%;
}

#vodka {
  position: absolute;
  top: 20%;
  left: 65%;
  overflow: hidden;
  height: 18%;
  width: 8%;

  background-image:url("vodka.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#tequila {
  position: absolute;
  top: 60%;
  left: 35%;
  overflow: hidden;
  height: 18%;
  width: 8%;

  background-image:url("tequila.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#rum {
  position: absolute;
  top: 48%;
  left: 25%;
  overflow: hidden;
  height: 18%;
  width: 8%;

  background-image:url("rum.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#gin {
  position: absolute;
  top: 17%;
  left: 42%;
  overflow: hidden;
  height: 18%;
  width: 8%;

  background-image:url("gin.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#icon {
  position: absolute;
  overflow: hidden;
  height: 100px;
  width: 100px;

  background-image:url("icon.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.liquorDescription {
  margin-left: 20%;
  width: 85%;
  height: 250px;
  background-color: #FBFBFB;
  border-width: medium;
  margin-top: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.liquorPic {
  overflow: hidden;
  height: 60%;
  width: 30%;
  float: left;
  position: relative;
  top: 10%;

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.liquorText {
  overflow: hidden;
  height: 60%;
  width: 65%;
  float: right;
  position: relative;
  top: 25%;
  right: 6%;

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  Font-Family: 'Lato', Sans-Serif;
  Font-Size: 15px;
}

#ginflat {
  background-image:url("ginflat.png");
}

#tequilaflat {
  background-image:url("tequilaflat.png");
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  height: 100%;
  width: 100%;
  padding-left: 18%;
  padding-right: 15%;
  padding-top: 150px;
}

.grid-container > div {
  height: 120px;
  width: 120px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  position: relative;
}

.grid-container a {
  height: 120px;
  width: 120px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  position: relative;
}

.grid-container button {
  height: 120px;
  width: 120px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  position: relative;
  border-width: 0;
}

.bramble {
  background-image: url("bramble.png");
  height: 100% ;
}

#elderflower {
  background-image: url("elderflower.png");
}

#negroni {
  background-image: url("negroni.png");
}

#gimlet {
  background-image: url("gimlet.png");
}

#gnt {
  background-image: url("gnt.png");
  background-size: 65%;
}

#bramblexl{
  background-image: url("bramblexl.png");
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
