/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  /* Formatting for browse page. */
  #smallDeviceView {
    display: block;
    width: 100%;
    margin-top: 10%;
  }
  #bg { display: none; }

  /* Formatting for cocktail detail modals. */
  .cocktailText {
    width: 90%;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: auto;
    margin-bottom: 5%;
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 14px;
  }
  .cocktailDetails {
    margin-top: 5%;
    margin-left: 15%;
    height: 100px;
    width: 200px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    position: relative;
  }

  /* Formatting for liquor detail pages. */
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    padding-right: 15%;
    padding-top: 10%;
  }
  .liquorCol {
    width: 90%;
    padding-left: 10%;
  }
  .cocktailCol {
    width: 100%;
    height: 500px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cocktailText {
    width: 90%;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: auto;
    margin-bottom: 5%;
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 15px;
  }
  .cocktailDetails {
    margin-top: 5%;
    margin-left: 15%;
    height: 200px;
    width: 300px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    position: relative;
  }

  #smallDeviceView { display: none; }
  #bg {
      display: block;
      background-image: url('../images/worldwbg@3x.png');
      margin-left: 5%;
      margin-right: 5%;
      /* Full height */
      height: 80%;
      position: relative;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }

  .liquorCol {
    width: 85%;
    padding-left: 10%;
  }

  .cocktailCol {
    width: 100%;
    height: 500px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    padding-right: 15%;
    padding-top: 10%;
  }

  #vodka {
    position: absolute;
    top: 30%;
    left: 65%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/vodka.png");
  }

  #tequila {
    position: absolute;
    top: 50%;
    left: 24%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/tequila.png");
  }

  #rum {
    position: absolute;
    top: 42%;
    left: 16%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/rum.png");
  }

  #gin {
    position: absolute;
    top: 25%;
    left: 40%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/gin.png");
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cocktailText {
    width: 90%;
    margin-right: 5%;
    margin-left: auto;
    margin-bottom: 5%;
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 17px;
  }
  .cocktailDetails {
    margin-left: 15%;
    height: 300px;
    width: 400px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    position: relative;
  }

  #smallDeviceView { display: none; }

  #bg {
      display: block;
      background-image: url('../images/worldwbg@3x.png');
      margin-left: 8%;
      margin-right: 8%;
      /* Full height */
      height: 80%;
      position: relative;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }
  .liquorCol {
    width: 80%;
    padding-left: 10%;
  }

  .cocktailCol {
    width: 100%;
    height: 500px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    padding-right: 15%;
    padding-top: 10%;
  }

  #vodka {
    position: absolute;
    top: 25%;
    left: 65%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/vodka.png");
  }

  #tequila {
    position: absolute;
    top: 53%;
    left: 24%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/tequila.png");
  }

  #rum {
    position: absolute;
    top: 42%;
    left: 16%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/rum.png");
  }

  #gin {
    position: absolute;
    top: 20%;
    left: 40%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/gin.png");
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cocktailText {
    width: 50%;
    margin-right: 5%;
    margin-left: auto;
    margin-bottom: 5%;
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 17px;
  }
  .cocktailDetails {
    margin-left: 15%;
    height: 400px;
    width: 500px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    position: relative;
  }

  #smallDeviceView { display: none; }

  #bg {
      display: block;
      background-image: url('../images/worldwbg@3x.png');
      margin-left: 10%;
      margin-right: 10%;
      /* Full height */
      height: 80%;
      position: relative;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }

  #vodka {
    position: absolute;
    top: 20%;
    left: 65%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/vodka.png");
  }

  #tequila {
    position: absolute;
    top: 55%;
    left: 24%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/tequila.png");
  }

  #rum {
    position: absolute;
    top: 42%;
    left: 16%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/rum.png");
  }

  #gin {
    position: absolute;
    top: 20%;
    left: 40%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/gin.png");
  }
  .liquorCol {
    width: 50%;
    float: left;
    padding-left: 10%;
  }

  .cocktailCol {
    width: 48%;
    height: 500px;
    float: right;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    padding-left: 18%;
    padding-right: 15%;
    padding-top: 10%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .cocktailText {
    width: 40%;
    margin-right: 5%;
    margin-left: auto;
    margin-bottom: 5%;
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 17px;
  }
  .cocktailDetails {
    margin-left: 15%;
    height: 400px;
    width: 500px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    position: relative;
  }

  #smallDeviceView { display: none; }

  #bg {
      background-image: url('../images/worldwbg@3x.png');
      /* Full height */
      height: 80%;
      position: relative;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }

  #vodka {
    position: absolute;
    top: 20%;
    left: 65%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/vodka.png");
  }

  #tequila {
    position: absolute;
    top: 60%;
    left: 27%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/tequila.png");
  }

  #rum {
    position: absolute;
    top: 45%;
    left: 18%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/rum.png");
  }

  #gin {
    position: absolute;
    top: 18%;
    left: 40%;
    overflow: hidden;
    height: 18%;
    width: 8%;

    background-image:url("../images/gin.png");
  }

  .liquorCol {
    width: 40%;
    float: left;
    padding-left:5%;
  }

  .cocktailCol {
    width: 58%;
    height: 500px;
    float: right;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    padding-left: 18%;
    padding-right: 35%;
    padding-top: 10%;
  }
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#mainpageimg {
  width: 50%;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.titlebox{
  margin-top: 13%;
}

#mainpagetitle {
  font-family: 'Overpass Mono', monospace;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.mainpageButton {
  width: 200px;
  height: 60px;
  background-color: #5dc4c6;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100px;
  font-size: 15px;
  font-family: 'Overpass Mono', monospace;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#liquorPageButton {
  margin-top: 50px;
}

#icon-row {
  height: 100px;
}

#bg img {
  opacity: 0%;
}

.liquorBottle {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.liquorBottle:hover {
  box-shadow: 0px 0px 8px 8px rgba(206, 255, 255, 1), 8px 8px 8px 8px rgba(253, 255, 130, 1);
  background-color: white;
}

#vodka-sm {
  position: relative;
  top: -50%;
  left: 54%;
  overflow: hidden;
  height: 130px;
  width: 80px;

  background-image:url("../images/vodka.png");
}

#tequila-sm {
  position: absolute;
  top: 15%;
  left: 35%;
  overflow: hidden;
  height: 130px;
  width: 80px;

  background-image:url("../images/tequila.png");
}

#rum-sm {
  position: relative;
  top: 50%;
  left: 55%;
  overflow: hidden;
  height: 130px;
  width: 80px;

  background-image:url("../images/rum.png");
}

#gin-sm {
  position: relative;
  top: 1%;
  left: 10%;
  overflow: hidden;
  height: 130px;
  width: 80px;

  background-image:url("../images/gin.png");
}

#icon {
  position: absolute;
  overflow: hidden;
  height: 100px;
  width: 100px;

  background-image:url("../images/icon.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#icon:hover {
  height: 120px;
  width: 120px;
}

.liquorDescription {
  width: 100%;
  height: 300px;
  background-color: #FBFBFB;
  border-width: medium;
  margin-top: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.liquorPic {
  overflow: hidden;
  height: 60%;
  width: 30%;
  float: left;
  position: relative;
  top: 10%;

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.liquorText {
  overflow: hidden;
  height: 60%;
  width: 65%;
  float: right;
  position: relative;
  top: 25%;
  right: 6%;

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  Font-Family: 'Lato', Sans-Serif;
  Font-Size: 15px;
  line-height: 22px;
}

.grid-container > div {
  height: 120px;
  width: 120px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  position: relative;
}

.grid-container a {
  height: 120px;
  width: 120px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  position: relative;
}

.grid-container button {
  height: 120px;
  width: 120px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  position: relative;
  border-width: 0;
}

#ginflat {
  background-image:url("../images/ginflat.png");
}

#tequilaflat {
  background-image:url("../images/tequilaflat.png");
}

#vodkaflat {
  background-image:url("../images/vodkaflat.png");
}

#rumflat {
  background-image:url("../images/rumflat.png");
}

#bramble {
  background-image: url("../images/bramble.png");
  height: 100% ;
}

#french75 {
  background-image: url("../images/french75.png");
  height: 100% ;
}

#elderflower {
  background-image: url("../images/elderflower.png");
  height: 100% ;
}

#negroni {
  background-image: url("../images/negroni.png");
  height: 100% ;
}

#gimlet {
  background-image: url("../images/gimlet.png");
  height: 100% ;
}

#gnt {
  background-image: url("../images/gnt.png");
  background-size: 80%;
  height: 100% ;
}

#bramblexl{
  background-image: url("../images/bramblexl.png");
}

#french75xl{
  background-image: url("../images/french75xl.png");
}

#negronixl{
  background-image: url("../images/negronixl.png");
}

#gimletxl{
  background-image: url("../images/gimletxl.png");
}

#gntxl{
  background-image: url("../images/gntxl.png");
}

#elderflowerxl{
  background-image: url("../images/elderflowerxl.png");
}

#margarita {
  background-image: url("../images/margarita.png");
  height: 60% ;
}

#margaritaxl {
  background-image: url("../images/margaritaxl.png");
}

#manhattan {
  background-image: url("../images/manhattan.png");
  height: 60% ;
}

#manhattanxl {
  background-image: url("../images/manhattanxl.png");
}

#sunrise {
  background-image: url("../images/sunrise.png");
  height: 60% ;
}

#sunrisexl {
  background-image: url("../images/sunrisexl.png");
}

#paloma {
  background-image: url("../images/paloma.png");
  height: 60% ;
}

#palomaxl {
  background-image: url("../images/palomaxl.png");
}

#cranberry{
  background-image: url("../images/cranberry.png");
  height: 100%;
}

#cranberryxl{
  background-image: url("../images/cranberryxl.png");
}

#mojito {
  background-image: url("../images/mojito.png");
  height: 100% ;
}

#mojitoxl {
  background-image: url("../images/mojitoxl.png");
}

#tonic {
  background-image: url("../images/tonic.png");
  height: 100% ;
}

#tonicxl {
  background-image: url("../images/tonicxl.png");
}

#soda {
  background-image: url("../images/soda.png");
  height: 100% ;
}

#sodaxl {
  background-image: url("../images/sodaxl.png");
}

#espresso {
  background-image: url("../images/espresso.png");
  height: 100% ;
}

#espressoxl {
  background-image: url("../images/espressoxl.png");
}
/* Used and modified w3school's modals and styles */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 8% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalBtn {
  background-color: white;
}

.modalBtn:hover {
  cursor: pointer;
  border-width: thick;
  border-color: #5dc4c6;
}

.continentTitle {
  font-family: 'Overpass Mono', monospace;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10%;
  margin-left: 5%;
}

.continentMap {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  position: relative;
}

#europe-asia{
  background-image: url("../images/euro-asia@3x.png");
}

#north-america{
  background-image: url("../images/north_america@3x.png");
}

#south-america{
  background-image: url("../images/south_america@3x.png");
}

#oceania{
  background-image: url("../images/oceania@3x.png");
}

#africa{
  background-image: url("../images/africa@3x.png");
}

.comingsoon {
  font-family: 'Overpass Mono', monospace;
  font-size: 30px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  padding-left: 18%;
  padding-right: 35%;
  padding-top: 15%;
}
